<p id="notice"><%= notice %></p>

<h1>Videos</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Is active</th>
      <th>Order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @videos %>
  </tbody>
</table>

<br>

<%= link_to 'New Video', new_video_path %>
